@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Red Hat Text";
        src: url(/fonts/RedHatText-VariableFont_wght.ttf) format('ttf');
    }

    html {
        @apply font-redhat bg-myrose-100;
    }
}

@layer utilities {
    .contain {
        --padding-size: 1rem;
        --content-max-width: 120ch;
        
        display: grid;
        grid-template-columns: 
            minmax(var(--padding-size), 1fr)
            [content-start] min(100% - var(--padding-size) * 2, var(--content-max-width)) [content-end]
            minmax(var(--padding-size), 1fr);
    }

    .contain > * {
        grid-column: content;
    }
}